*{
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
}
.galinheiro{
    height: 300px;
    width: 80px;
    background-color: bisque;
    border-radius: 10px;
}
.container{
    display: flex;
    flex-direction: row;

}
.slider-box{
    
}

.zona{
    width: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}
p{
    color: white;
}